@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

section span {
  color: hsl(259, 100%, 65%);
  margin-right: 0.5rem;
  font-style: italic;
}
