body {
  font-family: "Epilogue";
  font-weight: 500;
  width: 100%;
  height: auto;
}

body h1 {
  font-weight: 700;
}

#sigin-login-button {
  padding: 0.5rem;
  border-radius: 10px;
}

.lists-in-mdscreens {
  background-color: white;
  position: absolute;
  box-shadow: 2px 2px 5px 1px lightblue;
}

.nav-link:hover {
  color: black;
  cursor: pointer;
}
